<footer>
    <div class="footer-container main-container">

        <div class="info__company">
            <img src="images/icons/logo-white.svg" alt="Pressure Point Escape Rooms icon" width="148px"
                class="footer__logo" />

            <address class="address">
                <span class="address__name">Pressure Point Escape Rooms</span><br />
                <br />
                First Floor Offices,<br />
                2C New Rents,<br />
                Ashford,<br />
                Kent.<br />
                TN23 1JH<br />
                <br />
                07834 838410
            </address>
        </div>
        <div class="info__links">
            <a class="link-item" href="#contactus">
                <div class="icon-container">
                    <img src="images/icons/email.svg" alt="Contact Us icon" class="icon-email" />
                </div>
                <span>Contact Us</span>
            </a>
            <a class="link-item" href="#findus">
                <div class="icon-container">
                    <img src="images/icons/find-pin.svg" alt="Find Us icon" class="icon-pin" />
                </div>

                <span>Find Us</span>
            </a>
            <a class="link-item" href="#privacy">
                <div class="icon-container">
                    <img src="images/icons/privacy.svg" alt="Privacy Policy icon" class="icon-privacy" />
                </div>
                <span>Privacy Policy</span>
            </a>
            <a class="link-item" href="#terms">
                <div class="icon-container">
                    <img src="images/icons/terms.svg" alt="Terms and Conditions icon" class="icon-terms" />
                </div>
                <span>Terms & Conditions</span>
            </a>
        </div>
        <div class="info__social">
            <a href="#facebook">
                <img src="images/icons/facebook.svg" alt="Facebook icon" width="20px" />
            </a>
            <a href="#xcorp">
                <img src="images/icons/x-corp.svg" alt="X Corp icon" width="22px" />
            </a>
            <a href="#instagram">
                <img src="images/icons/instagram.svg" alt="Instagram icon" width="20px" />
            </a>
            <a href="#tripadvisor">
                <img src="images/icons/tripadvisor.svg" alt="Tripadvisor icon" width="32px" />
            </a>
        </div>

    </div>
</footer>