<header>
    <div class="header-container main-container">

        <img src="images/logo-white.svg" alt="Pressure Point Escape Rooms icon" width="80px" class="header__item" />

        <nav class="header__item">
            <a href="#home" class="nav-item active">Home</a>
            <a href="#rooms" class="nav-item">The Rooms</a>
            <a href="#aboutus" class="nav-item">About Us</a>
            <a href="#faqs" class="nav-item">FAQs</a>
        </nav>

        <button class="header__item">Book Now</button>
    </div>
</header>