footer {
    background-color: $clr-primary;
    width: 100%;
    padding: 1.5rem 0;

    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        .footer__logo {
            width: 110px;
        }

        .info__company {
            grid-row: 2/3;
            display: flex;
            justify-content: space-around;

            @media screen and (min-width: 48rem) {
                //768px
                grid-row: 1/3;
                justify-content: normal;
                gap: 1rem;
            }

            .address {
                color: $clr-white;
                font-size: 0.6875rem;

                @media screen and (min-width: 48rem) {
                    //768px
                    font-size: 0.875rem;
                }

                &__name {
                    font-size: 0.875rem;
                    font-weight: 700;

                    @media screen and (min-width: 48rem) {
                        //768px
                        font-size: 1rem;
                    }
                }
            }
        }

        .info__links {
            font-size: 0.8125rem;
            display: flex;
            gap: 0.5rem;
            justify-content: center;

            @media screen and (min-width: 48rem) {
                //768px
                justify-content: flex-end;
            }

            .link-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 5rem;
                color: $clr-white;
                text-align: center;

                .icon-container {
                    height: 1.875rem;

                    .icon-email {
                        width: 25px;
                    }

                    .icon-pin {
                        width: 20px;
                    }

                    .icon-privacy,
                    .icon-terms {
                        width: 20px;
                    }

                    @media screen and (min-width: 48rem) {
                        .icon-email {
                            width: 36px;
                        }

                        .icon-pin {
                            width: 26px;
                        }

                        .icon-privacy,
                        .icon-terms {
                            width: 32px;
                        }
                    }
                }
            }

            @media screen and (min-width: 64rem) {
                //1024px                
                gap: 1.5625rem;
            }
        }

        .info__social {
            display: flex;
            justify-content: center;
            gap: 2.5rem;
        }

        @media screen and (min-width: 48rem) {
            //768px            
            grid-template-columns: 1fr 1fr;

            .footer__logo {
                width: 145px;
            }

            .info__social {
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
    }
}