*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select,
address {
    font: inherit;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    font-family: $ff-regular;
    font-weight: $fw-regular;
    font-size: 0.9375rem;
    color: $clr-primary;
    background-color: $clr-background-primary;
}

p {
    line-height: 1.25rem;
}

button {
    font-size: 1.125rem;
    font-weight: 700;
    padding: .5rem .75rem;
    border: 2px solid transparent;
    border-radius: 0.625rem;
    transition: transform .2s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.btn-primary {
    background-color: $clr-primary;
    color: $clr-white;

    &:hover {
        background-color: $clr-white;
        color: $clr-primary;
        border: 2px solid $clr-primary;
    }
}

.btn__secondary {
    background-color: $clr-white;
    color: $clr-primary;

    &:hover {
        background-color: $clr-primary;
        color: $clr-white;
        border: 2px solid $clr-white;
    }
}

.main__container {
    max-width: 100%;
    padding: 0px 10px;
    display: grid;
    margin: 0 auto;
}

.panel {
    padding: 1.5rem 0;
    gap: 1.875rem;

    &__primary {
        background-color: $clr-background-primary;
    }

    &__secondary {
        background-color: $clr-background-secondary;
    }

    &__usp {

        display: grid;
        gap: 1.5rem;
        justify-items: center;

        .panel-title {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5rem;
        }

        .content {

            display: grid;
            justify-items: center;
            gap: 1rem;

            img {
                border-radius: 0.625rem;
            }

            .img-social,
            .img-teamwork,
            .img-family,
            .img-date {
                height: 175px;
            }

            .content__desc {
                display: grid;
                grid-template-rows: max-content max-content 1fr;
                gap: 1rem;

                p {
                    align-self: flex-start;
                }

                button {
                    justify-self: center;
                }
            }
        }
    }
}

@media screen and (min-width: 37.5rem) {

    //600px
    body {
        font-size: 1rem;
    }

    p {
        line-height: 1.6rem;
    }

    .main__container {
        max-width: 35rem;
        padding: 0px;
    }

    .panel {
        &__usp {
            .content {

                grid-template-columns: 1fr 1fr;

                .img-social {
                    height: 275px;
                }

                .img-teamwork {
                    height: 235px;
                }

                .img-family,
                .img-date {
                    height: 260px;
                }

                .content__desc {
                    display: grid;
                    grid-template-rows: max-content max-content 1fr;
                    gap: 1rem;

                    p {
                        align-self: flex-start;
                    }

                    button {
                        align-self: start;
                    }
                }

                &__reverse:nth-child(even) {
                    order: -1;
                }
            }
        }
    }
}

@media screen and (min-width: 48rem) {

    //768px
    .main__container {
        max-width: 45rem;
    }
}

@media screen and (min-width: 54rem) {

    //864px
    .main__container {
        max-width: 52rem;
    }

    .panel {
        &__usp {
            .content {
                .img-social {
                    height: 350px;
                }

                .img-teamwork {
                    height: 260px;
                }

                .img-family,
                .img-date {
                    height: 300px;
                }
            }
        }
    }
}

@media screen and (min-width: 64rem) {

    //1024px
    body {
        font-size: 1.375rem;
    }

    p {
        line-height: 2rem;
    }

    button {
        font-size: 1.375rem;
    }

    .main__container {
        max-width: 62rem;
    }

    .panel {
        padding: 3.125rem 0;

        &__usp {
            gap: 2.5rem;

            .panel-title {
                font-size: 4rem;
                line-height: 3.25rem;
            }

            .content {
                .content__desc {
                    gap: 1.875rem;
                }

                .img-social {
                    height: 430px;
                }

                .img-teamwork {
                    height: 320px;
                }

                .img-family,
                .img-date {
                    height: 370px;
                }
            }
        }
    }
}

@media screen and (min-width: 75rem) {

    //1200px
    .main__container {
        max-width: 70rem;
    }

    .panel {
        padding: 3.125rem 0;

        &__usp {
            gap: 2.5rem;

            .content {
                .img-social {
                    height: 443px;
                }

                .img-teamwork {
                    height: 350px;
                }

                .img-family,
                .img-date {
                    height: 380px;
                }
            }
        }
    }
}