*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select,
address {
    font: inherit;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

body {
    font-family: $ff-regular;
    font-weight: $fw-regular;
    font-size: 1.375rem;
    color: $clr-primary;
    background-color: $clr-background-primary;
}

button {
    font-size: 1.375rem;
    font-weight: 700;
    padding: .5rem .75rem;
    border: none;
    border-radius: 0.625rem;
    transition: transform .2s ease-in-out;

    &:hover {
        background-color: $clr-primary;
        color: $clr-white;
        border: 2px solid $clr-white;
        cursor: pointer;
        transform: scale(1.1);
    }
}

.btn-primary {
    background-color: $clr-primary;
    color: $clr-white;

    &:hover {
        background-color: $clr-white;
        color: $clr-primary;
        border: 2px solid $clr-primary;
    }
}

.btn-secondary {
    background-color: $clr-white;
    color: $clr-primary;

    &:hover {
        background-color: $clr-primary;
        color: $clr-white;
        border: 2px solid $clr-white;
    }
}

.main-container {
    max-width: 70rem;
    display: grid;
    margin: 0 auto;
}

.panel-reverse {
    flex-direction: row-reverse;
}

.panel {
    padding: 3.125rem 0;
    gap: 1.875rem;

    &__primary {
        background-color: $clr-background-primary;
    }

    &__secondary {
        background-color: $clr-background-secondary;
    }

    &__usp {
        display: flex;
        justify-content: space-between;
        gap: 85px;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            .panel-title {
                font-size: 64px;
                font-weight: 700;
                line-height: 52px;
            }

            p {
                line-height: 32px;
            }
        }

        img {
            border-radius: 10px;
        }
    }
}