header {
    width: 100%;
    background-color: $clr-primary;
    height: 5rem;
    padding: 0.625rem 0;

    .header {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 1fr;
        align-items: center;

        .header__logo {
            width: 3.25rem;
        }

        .header__btn {
            justify-self: flex-end;
        }

        .menu__mobile {
            color: $clr-white;
            font-size: 2.5rem;
            justify-self: flex-end;
        }

        .menu__desktop {
            display: none;
        }
    }

    .nav__overlay {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgba($clr-primary, .9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay__menu {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .nav__overlay .nav__item {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: $clr-white;
        display: block;
        transition: 0.3s;
    }

    .nav__overlay .nav__item:hover,
    .nav__overlay .nav__item:focus {
        font-size: 40px;
    }

    .nav__overlay .btn-close {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
}

@media screen and (min-width: 48rem) {

    //768px
    header {
        height: 6.75rem;

        .header {

            .header__logo {
                width: 3.75rem;
            }

            .header__btn {
                grid-column: 3/4;
            }

            .header__nav {
                grid-column: 2/3;
                grid-row: 1/2;
            }

            .menu__mobile {
                display: none;
            }

            .menu__desktop {

                display: flex;
                align-items: flex-end;
                gap: 2.5rem;

                .nav__item {
                    color: $clr-white;
                    font-size: 1.25rem;
                }

                .active {
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-decoration: underline;
                    text-underline-offset: .5rem;
                }
            }
        }
    }
}

@media screen and (max-height: 450px) {

    //768px
    header {
        .overlay__menu .nav__item {
            font-size: 20px
        }

        .overlay__menu .btn-close {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }
}