$clr-background-primary: hsl(0, 0%, 85%);
$clr-background-secondary: hsl(0, 0%, 75%);

$clr-primary: hsl(211, 100%, 18%);
$clr-white: hsl(0, 0%, 100%);

$ff-regular: 'Caudex', serif;
$fw-regular: 400;
$fw-bold: 700;