@import "variables";
@import "globals";
@import "header";
@import "footer";

.hero {
    background-color: $clr-primary;

    .hero-container {
        display: grid;
        grid-template-rows: max-content 1fr;
        justify-items: center;
        align-items: center;
        gap: 2rem;
        padding-bottom: 1.5rem;
    }

    &__image {
        width: 150px;
    }

    &__title {
        color: $clr-white;
        text-align: center;
        display: grid;
        gap: 1rem;

        h2 {
            font-size: 1.25rem;
            font-weight: 400;
        }
    }
}

.welcome-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.875rem;

    .welcome-intro {
        max-width: 46.25rem;
    }

    .welcome-share {
        max-width: 33.125rem;
    }

    span {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.faq-panel {
    .accordion {
        &__btn {
            display: flex;
            justify-content: space-between;
            background-color: $clr-primary;
            color: $clr-white;
            cursor: pointer;
            padding: 1.2rem;
            text-align: left;
            align-items: center;

            &:hover {
                cursor: pointer;
                background-color: rgba($clr-primary, .8);
            }

            &.active {
                background-color: rgba($clr-primary, .8);

                .icon:after {
                    content: "\00268A";
                    /* Unicode character for "minus" sign (-) */
                }
            }

            .icon::after {
                content: '\00ff0b';
                /* Unicode character for "plus" sign (+) */
                font-size: 22px;
                color: $clr-white;
                float: right;
                margin-left: 5px;
            }
        }

        &__panel {
            padding: 0 2rem;
            background-color: $clr-background-secondary;
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.4s ease-out;

            p {
                margin: 2rem 0;
            }

            .note {
                color: #b41616;
                font-style: italic;
            }
        }
    }
}

@media screen and (min-width: 37.5rem) {

    //600px
    .hero {
        &__title {
            h2 br {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 48rem) {

    //768px            
    .hero {
        &__image {
            width: 235px
        }

        .hero-container {
            gap: 1.875rem;
        }

        &__title {
            h2 {
                font-size: 1.5rem;
            }
        }
    }

    .welcome-panel {
        span {
            font-size: 1.875rem;
        }
    }
}