*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
address {
  font: inherit;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-size: 1.375rem;
  color: hsl(211, 100%, 18%);
  background-color: hsl(0, 0%, 85%);
}

button {
  background-color: hsl(0, 0%, 100%);
  color: hsl(211, 100%, 18%);
  font-size: 1.375rem;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.625rem;
  transition: transform 0.2s ease-in-out;
}
button:hover {
  background-color: hsl(211, 100%, 18%);
  color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 100%);
  cursor: pointer;
  transform: scale(1.1);
}

.main-container {
  max-width: 70rem;
  display: grid;
  margin: 0 auto;
}

.panel {
  padding: 3.125rem 0;
  gap: 1.875rem;
}
.panel__primary {
  background-color: hsl(0, 0%, 85%);
}
.panel__secondary {
  background-color: hsl(0, 0%, 75%);
}

header {
  width: 100%;
  background-color: hsl(211, 100%, 18%);
  height: 6.75rem;
  padding: 0.625rem 0;
}
header .header-container {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
}
header .header-container .header__item:first-child {
  justify-self: flex-start;
}
header .header-container .header__item:last-child {
  justify-self: flex-end;
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2.5rem;
}
nav .nav-item {
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
}
nav .active {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

footer {
  background-color: hsl(211, 100%, 18%);
  width: 100%;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}
footer .footer-container .company-info {
  display: flex;
  gap: 1.25rem;
}
footer .footer-container .company-info .address {
  color: hsl(0, 0%, 100%);
  font-size: 0.875rem;
}
footer .footer-container .company-info .address__name {
  font-size: 1rem;
  font-weight: 700;
}
footer .footer-container .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
footer .footer-container .info__links {
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1.5625rem;
}
footer .footer-container .info__links .link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 5rem;
  text-align: center;
}
footer .footer-container .info__links .link-item .icon-container {
  height: 1.875rem;
}
footer .footer-container .info__social {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.hero {
  background-color: hsl(211, 100%, 18%);
}
.hero .hero-container {
  display: flex;
  justify-items: center;
  gap: 1.875rem;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3.125rem;
}
.hero__title {
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 2.25rem;
}
.hero__title h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.welcome-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.welcome-panel .welcome-intro {
  max-width: 46.25rem;
}
.welcome-panel .welcome-share {
  max-width: 33.125rem;
}
.welcome-panel span {
  font-size: 1.875rem;
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */